::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: 'background.surface.20';
}
::-webkit-scrollbar-corner {
  background: 'background.surface.20';
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
@font-face {
  font-family: 'crayond_bold';
  src        : url('./font/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'crayond_medium';
  src        : url('./font/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'crayond_regular';
  src        : url('./font/Poppins-Regular.ttf');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9785">Text with this font applied</p> */
html {
  height: 100%;
}

#root {
  height: 100%;
}
